<h1 class="page-header">Eventos</h1>
<div class="actions">
  {{#acl-btn-create model="simple-event" url="/simple-events/create"}}Cadastrar evento{{/acl-btn-create}}
</div>
<br>
{{conteudos-table
  data=model.records
  columns=model.columns
  pageSize=25
  useFilteringByColumns=false
  deleteRecord='deleteRecord'
  changePublishedStatus='changePublishedStatus'
}}